# bài 4.1

In [1]:
import numpy as np
import pandas as pd

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

result1 = ser1[~ser1.isin(ser2)]
result2 = pd.Series(np.setxor1d(ser1, ser2))

result1, result2

(0    1
 1    2
 2    3
 dtype: int64,
 0    1
 1    2
 2    3
 3    6
 4    7
 5    8
 dtype: int64)

# bài 4.2

In [2]:
ser = pd.Series(np.arange(10))
ser.sample(5)

9    9
8    8
0    0
6    6
5    5
dtype: int64

# bài 4.3

In [3]:
ser = pd.Series(np.arange(10))
ser[::-1]

9    9
8    8
7    7
6    6
5    5
4    4
3    3
2    2
1    1
0    0
dtype: int64

# bài 4.4

In [4]:
ser = pd.Series([1, 2, 3, 4, 5, 6])
ser[ser % 2 == 0]

1    2
3    4
5    6
dtype: int64

# bài 4.5

In [5]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser.min(), ser.quantile(0.25), ser.median(), ser.quantile(0.75), ser.max()

(np.float64(0.19543700642218198),
 np.float64(6.67637939011768),
 np.float64(11.839652065330611),
 np.float64(13.17972486649229),
 np.float64(23.28805921982869))

# bài 4.6

In [6]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

h    8
f    6
a    5
g    4
e    3
d    2
c    1
b    1
Name: count, dtype: int64

# bài 4.7

In [7]:
np.random.seed(100)
ser = pd.Series(np.random.randint(1, 5, 12))
top2 = ser.value_counts().nlargest(2).index
ser.where(ser.isin(top2), 'Other')

0         1
1         1
2         4
3         4
4         4
5         4
6         1
7     Other
8     Other
9         1
10    Other
11    Other
dtype: object

# bài 4.8

In [8]:
ser = pd.Series(np.random.random(20))
pd.qcut(ser, 10, labels=[f'D{i+1}' for i in range(10)])

0      D7
1      D9
2      D1
3      D6
4      D9
5      D3
6      D3
7      D1
8      D4
9     D10
10     D7
11     D2
12     D8
13     D4
14     D6
15    D10
16     D8
17     D5
18     D2
19     D5
dtype: category
Categories (10, object): ['D1' < 'D2' < 'D3' < 'D4' ... 'D7' < 'D8' < 'D9' < 'D10']

# bài 4.9

In [9]:
ser = pd.Series(np.random.randint(1, 10, 35))
pd.DataFrame(ser.values.reshape(7, 5))

   0  1  2  3  4
0  1  3  4  3  6
1  9  2  1  8  7
2  3  1  9  3  6
3  2  9  2  6  5
4  3  9  4  6  1
5  4  7  4  5  8
6  7  4  1  5  5

# bài 4.10

In [10]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser[ser % 3 == 0].index

Index([0, 4, 6], dtype='int64')

# bài 4.11

In [11]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.iloc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

# bài 4.12

In [12]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
pd.concat([ser1, ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

# bài 4.13

In [13]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
[ser1[ser1 == x].index[0] for x in ser2]

[np.int64(5), np.int64(4), np.int64(0), np.int64(8)]

# bài 4.14

In [14]:
truth = pd.Series(range(10))
pred = truth + np.random.random(10)
((truth - pred) ** 2).mean()

np.float64(0.30090213781983577)

# bài 4.15

In [15]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

# bài 4.16

In [16]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
ser.diff()

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

# bài 4.17

In [17]:
ser = pd.Series([
    '01 Jan 2010', '02-02-2011', '20120303',
    '2013/04/04', '2014-05-05', '2015-06-06T12:20'
])
pd.to_datetime(ser, format='mixed')

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

# bài 4.18

In [18]:
emails = pd.Series([
    'buying books at amazon.com',
    'rameses@egypt.com',
    'matt@t.co',
    'narendra@modi.com'
])
pattern = r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'
emails[emails.str.contains(pattern)]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

# bài 4.19

In [19]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

pd.DataFrame({'fruit': fruit, 'weight': weights}) \
  .groupby('fruit').mean()

          weight
fruit
apple   3.500000
banana  4.600000
carrot  8.333333

# bài 4.20

In [20]:
euro12 = pd.read_csv("euro12.csv")
print('giá trị cột goals')
print(euro12['Goals'])
print("Số đội tham gia Euro 2012:", euro12['Team'].nunique())
print('Thông tin dữ liệu')
euro12.info()
print('Tạo DataFrame discipline')
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
print(discipline)
print('Sắp xếp giảm dần theo Red Cards, Yellow Cards')
print(discipline.sort_values(
    by=['Red Cards', 'Yellow Cards'],
    ascending=False
))
print('Trung bình Yellow Cards:',euro12['Yellow Cards'].mean())
print('Các đội ghi hơn 6 bàn')
print(euro12[euro12['Goals'] > 6])
print('Các đội có tên bắt đầu bằng "G"')
print(euro12[euro12['Team'].str.startswith('G')])
print('7 cột đầu')
print(euro12.iloc[:, :7])
print('Tất cả cột trừ 3 cột cuối')
print(euro12.iloc[:, :-3])
print('Các cột yêu cầu')
print(euro12[['Team', 'Goals', 'Shooting Accuracy', 'Yellow Cards', 'Red Cards']])
print('Team & Shooting Accuracy của England, Italy, Russia')
print(euro12.loc[
    euro12['Team'].isin(['England', 'Italy', 'Russia']),
    ['Team', 'Shooting Accuracy']
])

giá trị cột goals
0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64
Số đội tham gia Euro 2012: 16
Thông tin dữ liệu
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Team                        16 non-null     object
 1   Goals                       16 non-null     int64
 2   Shots on target             16 non-null     int64
 3   Shots off target            16 non-null     int64
 4   Shooting Accuracy           16 non-null     object
 5   % Goals-to-shots            16 non-null     object
 6   Total shots (inc. Blocked)  16 non-null     int64
 7   Hit Woodwork                16 non-null     int64
 8   Penalty goals               16 non-null     int64
 9   Penalties not scored        16 non-null     int64
 10  Headed goals                16 non-null     int64
 11  Passes                      16 non-null     int64
 12  Passes completed            16 non-null     int64
 13  Passing Accuracy            16 non-null     object
 14  Touches                     16 non-null     int64
 15  Crosses                     16 non-null     int64
 16  Dribbles                    16 non-null     int64
 17  Corners Taken               16 non-null     int64
 18  Tackles                     16 non-null     int64
 19  Clearances                  16 non-null     int64
 20  Interceptions               16 non-null     int64
 21  Clearances off line         15 non-null     float64
 22  Clean Sheets                16 non-null     int64
 23  Blocks                      16 non-null     int64
 24  Goals conceded              16 non-null     int64
 25  Saves made                  16 non-null     int64
 26  Saves-to-shots ratio        16 non-null     object
 27  Fouls Won                   16 non-null     int64
 28  Fouls Conceded              16 non-null     int64
 29  Offsides                    16 non-null     int64
 30  Yellow Cards                16 non-null     int64
 31  Red Cards                   16 non-null     int64
 32  Subs on                     16 non-null     int64
 33  Subs off                    16 non-null     int64
 34  Players Used                16 non-null     int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB
Tạo DataFrame discipline
                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0
Sắp xếp giảm dần theo Red Cards, Yellow Cards
                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0
Trung bình Yellow Cards: 7.4375
Các đội ghi hơn 6 bàn
       Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
5   Germany     10               32                32             47.8%
13    Spain     12               42                33             55.9%

   % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
5             15.6%                          80             2              1
13            16.0%                         100             0              1

    Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
5                      0  ...          10                 62.6%         63
13                     0  ...          15                 93.8%        102

   Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
5              49        12             4          0       15        15
13             83        19            11          0       17        17

    Players Used
5             17
13            18

[2 rows x 35 columns]
Các đội có tên bắt đầu bằng "G"
      Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
5  Germany     10               32                32             47.8%
6   Greece      5                8                18             30.7%

  % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
5            15.6%                          80             2              1
6            19.2%                          32             1              1

   Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
5                     0  ...          10                 62.6%         63
6                     1  ...          13                 65.1%         67

  Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
5             49        12             4          0       15        15
6             48        12             9          1       12        12

   Players Used
5            17
6            20

[2 rows x 35 columns]
7 cột đầu
                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38
Tất cả cột trừ 3 cột cuối
                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Clean Sheets  \
0              0              0                     0  ...             0
1              0              0                     0  ...             1
2              1              0                     0  ...             1
3              0              0                     0  ...             2
4              1              0                     0  ...             1
5              2              1                     0  ...             1
6              1              1                     1  ...             1
7              2              0                     0  ...             2
8              2              0                     0  ...             0
9              0              0                     0  ...             0
10             6              0                     0  ...             2
11             0              0                     0  ...             0
12             2              0                     0  ...             0
13             0              1                     0  ...             5
14             3              0                     0  ...             1
15             0              0                     0  ...             0

    Blocks  Goals conceded Saves made  Saves-to-shots ratio  Fouls Won  \
0       10               3         13                 81.3%         41
1       10               6          9                 60.1%         53
2       10               5         10                 66.7%         25
3       29               3         22                 88.1%         43
4        7               5          6                 54.6%         36
5       11               6         10                 62.6%         63
6       23               7         13                 65.1%         67
7       18               7         20                 74.1%        101
8        9               5         12                 70.6%         35
9        8               3          6                 66.7%         48
10      11               4         10                 71.5%         73
11      23               9         17                 65.4%         43
12       8               3         10                 77.0%         34
13       8               1         15                 93.8%        102
14      12               5          8                 61.6%         35
15       4               4         13                 76.5%         48

    Fouls Conceded  Offsides  Yellow Cards  Red Cards
0               62         2             9          0
1               73         8             7          0
2               38         8             4          0
3               45         6             5          0
4               51         5             6          0
5               49        12             4          0
6               48        12             9          1
7               89        16            16          0
8               30         3             5          0
9               56         3             7          1
10              90        10            12          0
11              51        11             6          1
12              43         4             6          0
13              83        19            11          0
14              51         7             7          0
15              31         4             5          0

[16 rows x 32 columns]
Các cột yêu cầu
                   Team  Goals Shooting Accuracy  Yellow Cards  Red Cards
0               Croatia      4             51.9%             9          0
1        Czech Republic      4             41.9%             7          0
2               Denmark      4             50.0%             4          0
3               England      5             50.0%             5          0
4                France      3             37.9%             6          0
5               Germany     10             47.8%             4          0
6                Greece      5             30.7%             9          1
7                 Italy      6             43.0%            16          0
8           Netherlands      2             25.0%             5          0
9                Poland      2             39.4%             7          1
10             Portugal      6             34.3%            12          0
11  Republic of Ireland      1             36.8%             6          1
12               Russia      5             22.5%             6          0
13                Spain     12             55.9%            11          0
14               Sweden      5             47.2%             7          0
15              Ukraine      2             21.2%             5          0
Team & Shooting Accuracy của England, Italy, Russia
       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

# bài 4.21

In [21]:
drink = pd.read_csv("drinks.csv", index_col=0)
drink.info()
drink.shape
drink.columns

print('Trung bình beer theo châu lục')
print(drink.groupby('continent')['beer_servings'].mean())

print('Thống kê wine theo châu lục')
print(drink.groupby('continent')['wine_servings'].describe())

print('Trung bình bia & rượu theo châu lục')
print(drink.groupby('continent').mean())

print('Trung vị bia & rượu theo châu lục')
print(drink.groupby('continent').median())

print('Spirit_servings: mean, max, min')
print(drink.groupby('continent')['spirit_servings'].agg(['mean', 'max', 'min']))

print('5 nước uống bia nhiều nhất / ít nhất')
print(drink.sort_values('beer_servings', ascending=False).head())
print(drink.sort_values('beer_servings').head())

<class 'pandas.core.frame.DataFrame'>
Index: 193 entries, Afghanistan to Zimbabwe
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   beer_servings                 193 non-null    int64
 1   spirit_servings               193 non-null    int64
 2   wine_servings                 193 non-null    int64
 3   total_litres_of_pure_alcohol  193 non-null    float64
 4   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 9.0+ KB
Trung bình beer theo châu lục
continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64
Thống kê wine theo châu lục
           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0
Trung bình bia & rượu theo châu lục
           beer_servings  spirit_servings  wine_servings  \
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333
Trung vị bia & rượu theo châu lục
           beer_servings  spirit_servings  wine_servings  \
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85
Spirit_servings: mean, max, min
                 mean  max  min
continent
AF          16.339623  152    0
AS          60.840909  326    0
EU         132.555556  373    0
OC          58.437500  254    0
SA         114.750000  302   25
5 nước uống bia nhiều nhất / ít nhất
                beer_servings  spirit_servings  wine_servings  \
country
Namibia                   376                3              1
Czech Republic            361              170            134
Gabon                     347               98             59
Germany                   346              117            175
Lithuania                 343              244             56

                total_litres_of_pure_alcohol continent
country
Namibia                                  6.8        AF
Czech Republic                          11.8        EU
Gabon                                    8.9        AF
Germany                                 11.3        EU
Lithuania                               12.9        EU
              beer_servings  spirit_servings  wine_servings  \
country
Afghanistan               0                0              0
Bangladesh                0                0              0
Cook Islands              0              254             74
North Korea               0                0              0
Monaco                    0                0              0

              total_litres_of_pure_alcohol continent
country
Afghanistan                            0.0        AS
Bangladesh                             0.0        AS
Cook Islands                           5.9        OC
North Korea                            0.0        AS
Monaco                                 0.0        EU

# bài 4.23

In [22]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")
movies.info()
ratings.info()
movies.isnull().sum()
ratings.isnull().sum()
movies.dropna(inplace=True)
ratings = ratings[ratings['rating'] > 0]
movie_data = ratings.merge(movies, on='movieId')
movie_data.head()
movie_data.groupby('title')['rating'].mean().sort_values(ascending=False).head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

title
Karlson Returns (1970)                                                         5.0
Zeitgeist: Moving Forward (2011)                                               5.0
Dream of Light (a.k.a. Quince Tree Sun, The) (Sol del membrillo, El) (1992)    5.0
Dragons: Gift of the Night Fury (2011)                                         5.0
12 Angry Men (1997)                                                            5.0
Name: rating, dtype: float64