# Bài 5.1

In [7]:
import sqlite3

conn = sqlite3.connect("test.db")

cursor = conn.cursor()

cursor.execute("SELECT sqlite_version();")
version = cursor.fetchone()

print("SQLite version:", version[0])

cursor.close()
conn.close()

SQLite version: 3.50.4

# bài 5.2

In [8]:
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

print("Đã kết nối SQLite trong bộ nhớ")

cursor.close()
conn.close()

Đã kết nối SQLite trong bộ nhớ

# Bài 5.3

In [9]:
import sqlite3

conn = sqlite3.connect("ql_sinhvien.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS SINH_VIEN (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER
)
""")

print("Đã tạo bảng SINH_VIEN")

cursor.close()
conn.close()

Đã tạo bảng SINH_VIEN

# Bài 5.4

In [10]:
import sqlite3

conn = sqlite3.connect("ql_sinhvien.db")
cursor = conn.cursor()

cursor.execute("""
SELECT name FROM sqlite_master 
WHERE type='table';
""")

tables = cursor.fetchall()

print("Danh sách bảng:")
for t in tables:
    print(t[0])

cursor.close()
conn.close()

Danh sách bảng:
SINH_VIEN

# Bài 5.5

In [11]:
conn = sqlite3.connect("ql_sinhvien.db")
cursor = conn.cursor()

# Chèn dữ liệu
cursor.execute("INSERT INTO SINH_VIEN VALUES (1, 'An', 20)")
cursor.execute("INSERT INTO SINH_VIEN VALUES (2, 'Bình', 21)")
cursor.execute("INSERT INTO SINH_VIEN VALUES (3, 'Chi', 19)")

conn.commit()

# Hiển thị dữ liệu
cursor.execute("SELECT * FROM SINH_VIEN")
rows = cursor.fetchall()

print("Danh sách sinh viên:")
for row in rows:
    print(row)

cursor.close()
conn.close()

OperationalError: database is locked

# Bài 5.6

In [ ]:
conn = sqlite3.connect("ql_sinhvien.db")
cursor = conn.cursor()

cursor.execute("SELECT COUNT(*) FROM SINH_VIEN")
count = cursor.fetchone()[0]

print("Số bản ghi:", count)

cursor.close()
conn.close()

Số bản ghi: 3

# Bài 5.7

In [ ]:
conn = sqlite3.connect("ql_sinhvien.db")
cursor = conn.cursor()

cursor.execute("""
UPDATE SINH_VIEN
SET age = age + 1
""")

conn.commit()
print("Đã cập nhật tuổi sinh viên")

cursor.close()
conn.close()

Đã cập nhật tuổi sinh viên

# Bài 5.8

In [ ]:
conn = sqlite3.connect("ql_sinhvien.db")
cursor = conn.cursor()

cursor.execute("DELETE FROM SINH_VIEN WHERE id = 2")
conn.commit()

print("Đã xóa sinh viên có id = 2")

cursor.close()
conn.close()

Đã xóa sinh viên có id = 2